<div *ngIf="ball">
  <button class="btn btn-info w-100" (click)="GetScienceByNormalBall()">Barcha talabalar doirasida normal olingan
    bal</button>
</div>
<div *ngIf="!ball">
  <div *ngIf="user" class="container">
    <div class="row">
      <div class="col-sm-3">
        <p class="mb-0">Ism</p>
      </div>
      <div class="col-sm-9">
        <p class="mb-0">{{user.firstName}}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3">
        <p class="mb-0">Familya</p>
      </div>
      <div class="col-sm-9">
        <p class="mb-0">{{user.lastName}}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3">
        <p class="mb-0">Telefon Raqam</p>
      </div>
      <div class="col-sm-9">
        <p class="mb-0">{{user.phoneNumber}}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3">
        <p class="mb-0">Email</p>
      </div>
      <div class="col-sm-9">
        <p class="mb-0">{{user.email}}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3">
        <p class="mb-0">Tug'ilgan kun</p>
      </div>
      <div class="col-sm-9">
        <p class="mb-0">{{user.birthday}}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-sm-3">
        <p class="mb-0">Vasifasi</p>
      </div>
      <div class="col-sm-9">
        <p class="mb-0">{{roles[user.role].val}}</p>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">
        <div>
          <button *ngIf="user.role == 0" class="btn btn-info w-100"
            (click)="GetScienceByTemStudentsMaxBall(user.id)">Eng
            ko'p bal olgan fanni bilish</button>
        </div>
        <div *ngIf="user.role == 1">
          <div style="align-items: center;" class="border">
            <div class="my-form">
              <form class="form-inline my-2 my-lg-0">
                <div class="form-group">
                  <input class="form-control mr-sm-2" type="number" [(ngModel)]="search.minBall" name="ball"
                    placeholder="Minimal ball">
                </div>
                <div class="form-group">
                  <input class="form-control mr-sm-2" type="number" [(ngModel)]="search.minCount" name="count"
                    placeholder="Minimal studentlar soni">
                </div>
                <button class="btn btn-primary my-2 my-sm-0" type="submit"
                  (click)="GetScienceByMaxBall()">Talabalar yaxshi o'zlashtirgan
                  Fanlarni bilish</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="!user">
      <app-spinner style="font-size: 500%;"></app-spinner>
    </div>
  </div>
</div>

  <div *ngIf="science">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">№</th>
          <th scope="col">Nomi</th>
        </tr>
      </thead>

      <tbody *ngIf="science.length">
        <tr *ngFor="let science of science; index as i">
          <th id="clickItem" scope="row">{{i+1}}</th>
          <td id="clickItem">{{science.name}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="science.id">
        <tr>
          <th id="clickItem" scope="row">{{1}}</th>
          <td id="clickItem">{{science.name}}</td>
        </tr>
      </tbody>

    </table>
  </div>