<div *ngIf="teacherOfScience">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">№</th>
                <th scope="col">Nomi</th>
                <th scope="col">Baho qo'yish</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tscience of teacherOfScience; index as i">
                <th id="clickItem"  scope="row">{{i+1}}</th>
                <td id="clickItem" >{{tscience.scienceName}}</td>
                <td id="clickItem" >
                    <button class="btn btn-primary" (click)="GetIStudent(tscience.scienceId)">Boshlash</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="!teacherOfScience">
    <app-spinner style="font-size: 500%;"></app-spinner>
</div>