<section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Kirish</h2>
                <p class="text-white-50 mb-5">Iltimos, login va parolingizni kiriting!</p>
                <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="form-outline form-white mb-4">
                  <input type="email" id="typeEmailX" class="form-control form-control-lg" placeholder="Email" formControlName="email" />
                </div>
  
                <div class="form-outline form-white mb-4">
                  <input type="password" class="form-control form-control-lg" placeholder="Parol" formControlName="password"/>
                </div>
  
                <p class="small mb-5 pb-lg-2"><a class="text-white-50" href="#!">Forgot password?</a></p>
  
                <button [disabled]="!loginForm.valid" class="btn btn-outline-light btn-lg px-5 w-50" type="submit">
                  <div *ngIf="!chek">Kirish</div>
                  <div *ngIf="chek">
                    <app-spinner></app-spinner>
                  </div>
                </button>
            </form>
              </div>
  
              <div>
                <p class="mb-0">Hisobingiz yo'qmi?<a routerLink="/register" class="text-white-50 fw-bold">Ro'yxatdan o'tish</a>
                </p>
              </div>
  
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>